<app-navbar></app-navbar>

<div class="card mt-5">
    <form [formGroup]="registerForm" class="grid flex justify-content-center">

        <div class="flex align-items-center justify-content-center">
            <div class="p-fluid">
                <div class="field">
                    <label for="userLastName">User Last Name</label>
                    <input 
                        formControlName="userLastName" 
                        pInputText 
                        id="userLastName" 
                        pTooltip="Enter your Last Name" 
                        tooltipPosition="right"
                        type="text" />
                </div>
                <div class="field">
                    <label for="userFirstName">User First Name</label>
                    <input 
                        formControlName="userFirstName" 
                        pInputText 
                        id="userFirstName" 
                        pTooltip="Enter your First Name" 
                        tooltipPosition="right"
                        type="text" />
                </div>
                <div class="field">
                    <label for="userEmail">User Email</label>
                    <input 
                        formControlName="userEmail" 
                        pInputText 
                        id="userEmail" 
                        pTooltip="Enter a valid email" 
                        tooltipPosition="right"
                        type="text" />
                    <p-message 
                        *ngIf="registerForm?.get('userEmail')?.errors?.['email']"
                        severity="error"
                        text="You must enter an email">
                    </p-message>
                </div>
                <div class="field">
                    <label for="userPassword">Password</label>
                    <p-password
                        [toggleMask]="true"  
                        formControlName="userPassword" 
                        id="userPassword"
                        pTooltip="8 characters minimum, at least one cap, one number, and one special character [@ $ ! % * # ? & ^ _ -]" 
                        tooltipPosition="right">
                    </p-password>
                    <p-message
                        *ngIf="registerForm?.get('userPassword')?.errors?.['pattern']" 
                        severity="error" 
                        text="This password isn't valid">
                    </p-message>
                </div>
                <p-button 
                    [disabled]="registerForm.invalid" 
                    label="Sign Up" 
                    (click)="doRegister()">
                </p-button>
            </div>
        </div>

    </form>
</div>