<app-navbar></app-navbar>

<div class="card mt-5">
    <form [formGroup]="addForm" class="grid flex justify-content-center">

        <div class="flex align-items-center justify-content-center">
            <div class="p-fluid">
                <div class="field">
                    <label for="userLastName">Add Name</label>
                    <input formControlName="addTitle" pInputText id="addTitle" type="text" />
                </div>
                <div class="field">
                    <label for="userFirstName">Add Title</label>
                    <input formControlName="addImage" pInputText id="addImage" type="text" />
                </div>
                <div class="field">
                    <label for="userEmail">Add Description</label>
                    <input formControlName="addDescription" pInputText id="addDescription" type="text" />
                </div>
                <p-button label="Add this add" (click)="addAdd()"></p-button>
            </div>
        </div>

    </form>
</div>