<app-navbar></app-navbar>

<div class="card mt-5">
    <form [formGroup]="adForm" class="grid flex justify-content-center">

        <div class="flex align-items-center justify-content-center">
            <div class="p-fluid">
                <div class="field">
                    <label for="adTitle">Ad Title</label>
                    <input 
                        formControlName="adTitle" 
                        pInputText 
                        id="adTitle"
                        pTooltip="Enter title for your ad" 
                        tooltipPosition="right" 
                        type="text" />
                </div>
                <div class="field">
                    <label for="adImage">Ad Image</label>
                    <input 
                        formControlName="adImage" 
                        pInputText 
                        id="adImage" 
                        pTooltip="Enter a link to your image" 
                        tooltipPosition="right"
                        type="text" />
                </div>
                <div class="field">
                    <label for="adDescription">Ad Description</label>
                    <input 
                        formControlName="adDescription" 
                        pInputText 
                        id="adDescription" 
                        pTooltip="Enter a description for your add" 
                        tooltipPosition="right"
                        type="text" />
                </div>
                <div class="field">
                    <label for="selectedZones">Zones</label>
                    <p-multiSelect 
                        [options]="zones"
                        optionLabel="zoneName" 
                        formControlName="selectedZones" 
                        id="selectedZones"
                        pTooltip="Choose the zones to display the ad at" 
                        tooltipPosition="right"
                    >
                    </p-multiSelect>
                </div>
                <div class="field">
                    <label for="selectedTimeSlots">Time Slots</label>
                    <p-multiSelect 
                        [options]="timeSlots" 
                        optionLabel="timeSlotName" 
                        formControlName="selectedTimeSlots" 
                        id="selectedTimeSlots"
                        pTooltip="Choose the timeslots to diaplay the ad at" 
                        tooltipPosition="right"
                    >
                    </p-multiSelect>
                </div>
                
                <p-button 
                    label="Add this ad" 
                    (click)="addAd()">
                </p-button>
            </div>
        </div>

    </form>
</div>